:root{
  --font-size-1: 1rem;
  --font-size-2: 1.5rem;
  --font-size-3: 2rem;
  --font-size-4: 2.5rem;
  --icon-size-1: 1rem;
  --icon-size-2: 1.5rem;
  --icon-size-3: 2rem;
  --gap-1: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 1.5rem;
  --gap-4: 2rem;
  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin-3: 2rem;
  --margin-4: 2.5rem;
  --margin-5: 3rem;
  --margin-6: 4rem;
  --margin-7: 4.5rem;
  --margin-8: 5rem;
  --margin-9: 5.5rem;
  --margin-10: 6rem;

  --theme-color-1: #F1E5D1;
  --theme-color-2: #DBB5B5;
  --theme-color-3: #C39898;
  --theme-color-4: #987070;
}

*,
*::after,
*::before{
  margin: 0;
  padding:  0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
body{
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--theme-color-2);
}
header{
  width: 100%;
  background-color: var(--theme-color-4);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scaleY(2) translateY(-15rem) skewY(-5deg);
}
.profile-image img{
  max-width: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  float: left;
  margin-top: -80px;
  margin-right: 2rem;
  margin-bottom: -80px;
  margin-left: -2rem;

}

.profile-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin-top: var(--margin-9);
  margin-bottom: var(--margin-6);
  transform: skewY(5deg) translateY(15rem) scaleY(0.5);
}
.profile-link-bar {
  display: flex;
  justify-content: end;
  gap: var(--gap-2);
}

.profile-link-bar a {
  width: var(--icon-size-3);
}

.profile-link-bar a svg {
  width: 100%; /* Make SVG take full width of the container */
  height: 100%; /* Make SVG take full height of the container */
}
.profile-info{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 1rem;
  background-color: var(--theme-color-1);
}
.profile-info .profile-header{
  font-size: var(--font-size-4);
}
.profile-info .profile-content  {
  font-size: var(--font-size-2);
}


/* section css */
section{
  margin-top: var(--margin-3);
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin-bottom: var(--margin-10);
}
section > h1{
  margin-bottom: var(--margin-2);
  font-size: var(--font-size-3);
}
.project-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: var(--gap-4)
}
.project-card{
  width: 100%;
  height: 100%;
  background-color: var(--theme-color-1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.project-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2rem 1fr;
  gap: var(--gap-2);
  padding: var(--gap-3 );
}
.project-card > img{
  width: 100%;
}
.project-card .project-name{
  grid-column: 1/2;
}
.project-card .project-links{
  grid-column: 2/3;
  height: 100%;
  display: flex;
  justify-content: end;
  gap: var(--gap-2)
}
.project-card .project-links a svg,
.project-card .project-links a img{
  height: 100%;
}
.project-card  .project-description{
  grid-column: 1/3;
}

/* footer */
footer{
  margin-top: var(--margin-10);
  width: 100%;
  background-color: var(--theme-color-4);
  display:flex;
  align-items: center;
  justify-content: center;
}
.footer-content{
  transform: translateY(-4rem);
  max-width: 700px;
  background-color: var(--theme-color-1);
  display: flex;
  padding: var(--margin-2);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.contact-container{
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  padding: var(--margin-1);
}
.contact-info {
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);
}
.contact-address.contact-info{
  flex-direction: column;
  gap: var(0.25rem);
}
.contact-address p {
  font-size: var(--font-size-1);
}

.contact-info a{
  height: var(--icon-size-3);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: var(--font-size-1);
}
.phone-number,
.email{
  margin-left: var(--gap-1);
}
.contact-info a svg,
.contact-info a img{
  height: 100%;
  width: 100%;
}

.contact-image{
  align-self: center;
  transform: translateX(calc(50% + var(--margin-3)));
}
.contact-image img{
  max-width: 250px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* hover actions */
.project-card,
.profile-link-bar a,
.project-card .project-links a,
.contact-links a,
.contact-phone-container a,
.contact-email-container a{
  transition: transform 0.3s ease-in-out;

}

.project-card:hover{
  transform:scale(1.01);
}
.profile-link-bar a:hover,
.project-card .project-links a:hover,
.contact-links a:hover{
  transform:scale(1.1);
}
.contact-phone-container a:hover,
.contact-email-container a:hover{
  transform:scale(1.05);
}

@media(max-width: 1200px){
  .project-grid{
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: var(--gap-2);
  }
  header{
    transform: scaleY(2) translateY(-20rem) skewY(-5deg);  
  }
  .profile-wrapper{
    transform: skewY(5deg) translateY(20rem) scaleY(0.5);
    padding: var(--margin-3);
  }
  .profile-image img{
    margin-top: -40px;
    margin-right: var(--margin-3);
    margin-bottom: var(--margin-1);
    margin-left: -2rem;
  }
  .contact-image{
    transform: translateX(0);
  }
  section{
    padding: var(--margin-3);
  }
  .footer-content{
    margin: var(--margin-5);
  }
}

@media(max-width: 600px){
  .project-grid{
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: var(--gap-2);
  }
  header{
    transform: scaleY(2) translateY(-20rem) skewY(-5deg);  
  }
  .profile-wrapper{
    transform: skewY(5deg) translateY(20rem) scaleY(0.5);
    padding: var(--margin-3);
  }
  .profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-2);

  }
  .profile-image img{
    float: none;
    margin: -5rem 0 0 0;
  }
  .contact-image img{
    transform: translateX(0);
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  section{
    padding: var(--margin-3);
  }
  .footer-content{
    margin: var(--margin-2);
    flex-direction: column;
    max-width: 100%;
  }
}